<!DOCTYPE HTML>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>스프링부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- csrf 토큰 -->
    <meta id="_csrf" name="_csrf" content="${_csrf.token}" />
    <meta id="_csrf_header" name="_csrf_header" content="${_csrf.headerName}" />


    <!--부트스트랩 css 추가-->
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
</head>
<body>
    <h1>스프링부트로 시작하는 웹 서비스 ver.5</h1>
    <div class="col-md-12">
           <!--로그인 기능 영역-->
           <div class="row">
               <div class="col-md-4">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#savePostsModal">글 등록</button>

                    <button type="button" class="btn btn-success active" data-toggle="modal" data-target="#signUpModal">회원가입</button>

                    {{#if userName}}
                        <button class="btn btn-outline-danger my-2 my-sm-0 btn-sm" type="submit">Logout</button>
                    {{/if}}

                    {{#unless userName}}
                        <a href="/login" class="btn btn-outline-info my-2 my-sm-0 btn-sm">Login</a>
                    {{/unless}}
                </div>

                <!-- 검색 form -->
               <form action="/search" class="form-inline" method="GET">
                    <div class="form-group">
                        <input name="keyword" class="form-control" type="text" placeholder="검색어를 입력해주세요">
                    </div>
                    <div class="form-group">
                         <button type="submit" class="btn btn-primary">Search</button>
                    </div>

               </form>
            </div>
    </div>

    <div class="col-md-12">

        <br/>
        <br/>

        <!-- 목록 출력 영역 -->
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
                <tr>
                    <th>게시글번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>최종수정일</th>
                </tr>
            </thead>
            <tbody id="tbody">
            <!-- foreach 와 동일 -->
                {{#each posts}}
                    <tr>
                        <td>{{id}}</td>
                        <td><a href="/posts?id={{id}}">{{title}}</a></td>
                        <td>{{author}}</td>
                        <td>{{modifiedDate}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <footer>
        <div class="col-md-offset-4 col-md-4">
            {{#each pageList}}
                <a href="/?page={{this}}">{{this}}</a>
            {{/each}}
        </div>
    </footer>

    <!-- Modal 영역 -->
    <div class="modal fade" id="savePostsModal" tabindex="-1" role="dialog" aria-labelledby="savePostsLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="savePostsLabel">게시글 등록</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="title">제목</label>
                            <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요">
                        </div>
                        <div class="form-group">
                            <label for="author"> 작성자 </label>
                            <input type="text" class="form-control" id="author" placeholder="작성자를 입력하세요">
                        </div>
                        <div class="form-group">
                            <label for="content"> 내용 </label>
                            <textarea class="form-control" id="content" placeholder="내용을 입력하세요"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary" id="btn-save">등록</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 영역 -->
    <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="signUpLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="signUpLabel">회원가입</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                        <form>
                          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                          <div class="row">
                            <div class="input-field col s12">
                              <label for="user_name">Username</label>
                              <input id="user_name" name="uid" type="text" class="validate"/>
                            </div>
                          </div>
                          <div class="row">
                            <div class="input-field col s12">
                              <label for="email">Email</label>
                              <input id="email" name="uemail" type="email" class="validate"/>
                            </div>
                          </div>
                          <div class="row">
                            <div class="input-field col s12">
                              <label for="password">Password</label>
                              <input id="password" name="upw" type="password" class="validate"/>
                            </div>
                          </div>
                        </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary" id="btn-create">가입하기</button>
                </div>
            </div>
        </div>
    </div>

    <!--부트스트랩 js, jquery 추가-->
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>

    <!--custom js 추가-->
    <script src="/js/app/main.js"></script>

</body>

</html>